.container .boarders_container {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 40px;
    width: 75%;
    height: 92vh;
    overflow: scroll;
    padding: 20px 10px 0 10px;
    border: 1px lightgrey;
    border-style: none solid none solid;
}

.boarders_title {
    color: steelblue;
    font-weight: bold;
    border: 1px lightgrey;
    padding-left: 10px;
    border-style: none none solid none;
}

.boarders_header {
    margin-top: 10px;
    padding-bottom: 6px;
    display: flex;
    border: 1px lightgrey;
    border-style: none none solid none;
    justify-content: center;
}

.boarders_header div {
    padding-top: 6px;
    margin: 0 auto;
    display: inline-block;
    width: 25vw;
}

.boarders_label {
    padding: 0 5px 0 15px;
    float: left;
    line-height: 2.6;
    font-size: 13px;
    font-family: "Arial", Arial, sans-serif;
}

.boarders_card {
    margin-top: 15px;
}

.boarders_card .table td {
    padding-right: 0;
    padding-left: 0;
}

.boarders_body tr {
    line-height: 2.5;
}

@media only screen and (max-width: 600px) {
    .container .boarders_container {
        width: 100%;
        display:block;
        margin: 0;
        border-style: none; }

    .boarders_title, .boarders_header {
        border: none;
    }

    .boarders_header div {
        display: block;
        width: 30%;
    }

    .boarders_card > table, .boarders_card, .boarders_card thead, .boarders_card tbody,
    .boarders_card th, .boarders_card td, .boarders_card tr {
        display: block;
    }

    .boarders_card thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .boarders_card td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .boarders_card td:before, .boarders_card th:before {
        top: 6px;
        left: 6px;
        width: 45%;
        padding: 0 10px;
        white-space: nowrap;
        font-size: 13px;
        font-weight: bold;
    }

    .boarders_card th:before {
        padding-right: 10px;
    }

    .boarders_body tr {
        line-height: 1;
    }

    .boarders_card th:nth-of-type(1):before { content: "Stravník"; }
    .boarders_card td:nth-of-type(1):before { content: " "; }
    .boarders_card td:nth-of-type(2):before { content: "E-mail"; }
    .boarders_card td:nth-of-type(3):before { content: "Kredit"; }
}