.menus_title {
    color: steelblue;
    font-weight: bold;
    border: 1px lightgrey;
    padding-left: 10px;
    border-style: none none solid none;
}

.container .manage_menus_container {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 40px;
    width: 75%;
    height: 91vh;
    overflow: scroll;
    padding: 20px 10px 0 10px;
    border: 1px lightgrey;
    border-style: none solid none solid;
}

.menus_card {
    margin-top: 15px;
}

.menus_card .table td {
    padding-right: 0;
    padding-left: 0;
}

.menus_date {
    padding-left: 15px !important;
    padding-right: 50px !important;
}

.breakfast, .soup, .lunch, .dinner {
    margin-right: 15px;
}

.btn-primary:disabled {
    background-color: dimgray;
    border: dimgray;
}

.col_name {
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .container .manage_menus_container {
        width: 100%;
        display:block;
        margin: 0;
        border: none;
        height: auto; }

    .menus_title {
        border: none;
    }

    .menus_card {
        border: none;
    }
}