.container .my_orders_container {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 40px;
    width: 75%;
    height: 92vh;
    overflow: scroll;
    padding: 20px 10px 0 10px;
    border: 1px lightgrey;
    border-style: none solid none solid;
}

.my_orders_title {
    color: steelblue;
    font-weight: bold;
    border: 1px lightgrey;
    padding-left: 10px;
    border-style: none none solid none;
}

.my_orders_header {
    margin-top: 10px;
    padding-bottom: 6px;
    display: flex;
    border: 1px lightgrey;
    border-style: none none solid none;
    justify-content: center;
}

.my_orders_header div {
    padding-top: 6px;
    margin: 0 auto;
    display: inline-block;
    width: 25vw;
}

.order_label {
    padding: 0 5px 0 15px;
    float: left;
    line-height: 2.6;
    font-size: 13px;
    font-family: "Arial", Arial, sans-serif;
}

.my_orders_card {
    margin-top: 15px;
}

.my_orders_card .table td {
    padding-right: 0;
    padding-left: 0;
}

.order_body tr {
    line-height: 2.5;
}

.my_orders_footer {
    display: flex;
    justify-content: right;
}

.total_sum {
    font-weight: bold;
}

.my_orders_footer div {
    padding-right: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container .my_orders_container {
        width: 100%;
        display:block;
        margin: 0;
        border-style: none; }

    .my_orders_title {
        border: none;
    }

    tbody .order-body {
        font-size: 12px;
    }
}


