.container .my_orders_container {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 40px;
    width: 75%;
    height: 92vh;
    overflow: scroll;
    padding: 20px 10px 0 10px;
    border: 1px lightgrey;
    border-style: none solid none solid;
}

.my_orders_title {
    color: steelblue;
    font-weight: bold;
    border: 1px lightgrey;
    padding-left: 10px;
    border-style: none none solid none;
}

.my_orders_header {
    margin-top: 10px;
    padding-bottom: 6px;
    display: flex;
    border: 1px lightgrey;
    border-style: none none solid none;
    justify-content: center;
}

.my_orders_header div {
    padding-top: 6px;
    margin: 0 auto;
    display: inline-block;
    width: 25vw;
}

.order_label {
    padding: 0 5px 0 15px;
    float: left;
    line-height: 2.6;
    font-size: 13px;
    font-family: "Arial", Arial, sans-serif;
}

.my_orders_card {
    margin-top: 15px;
}

.my_orders_card .table td {
    padding-right: 0;
    padding-left: 0;
}

.order_body tr {
    line-height: 2.5;
}

.my_orders_footer {
    display: flex;
    justify-content: right;
}

.total_sum {
    font-weight: bold;
}

.my_orders_footer div {
    padding-right: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container .my_orders_container {
        width: 100%;
        display:block;
        margin: 0;
        overflow-y: scroll;
        border-style: none; }

    .my_orders_title, .my_orders_header {
        border: none;
    }

    .my_orders_header div {
        display: block;
        width: 30%;
    }

    .my_orders_card > table, .my_orders_card, .my_orders_card thead, .my_orders_card tbody,
    .my_orders_card th, .my_orders_card td, .my_orders_card tr {
        display: block;
    }

    .my_orders_card thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .my_orders_card td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .my_orders_card td:before, .my_orders_card th:before {
        top: 6px;
        left: 6px;
        width: 45%;
        padding: 0 10px;
        white-space: nowrap;
        font-size: 13px;
        font-weight: bold;
    }

    .my_orders_card th:before {
        padding-right: 10px;
    }

    .order_body tr {
        line-height: 1;
    }

    .delete_btn > .btn, .market_btn > .btn {
        padding: 0;
        line-height: 0;
    }

    .my_orders_card th:nth-of-type(1):before { content: "Dátum objednávky"; }
    .my_orders_card td:nth-of-type(1):before { content: " "; }
    .my_orders_card td:nth-of-type(2):before { content: "Cena"; }
    .my_orders_card td:nth-of-type(3):before { content: "Balné"; }
    .my_orders_card td:nth-of-type(4):before { content: "Dátum stravy"; }
    .my_orders_card td:nth-of-type(6):before { content: "Burza"; }
}


